
 * :root {
color:white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.hidden {
    display: none;
}

.shown {
    display: block;
}


h1, p { 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: royalblue;
    line-height: 200%;
}

div #start {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
    background-color: aqua;

}


div .question {
    background-color: aqua;
    display: block;
} 



