h1, p { 
    text-align: center;
    align-items: center;
    justify-content: center;
}

div #start {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
}

 .hidden {
    display: none;
}

.shown {
    display: block;
}

#end-screen {
display: none;

} 

